---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const pageTitle = "About me"

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "web developer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
<DefaultLayout>
    
            <h1>About me</h1>
            <p>Hola, my name is {identity.firstName}, I'm a {identity.occupation} from {identity.country} trying to build something cool with Astro.</p>
            <p>I'm only using this because I like the CI interface (Houston is very cute)</p>
</DefaultLayout>
    </body>
</html>